<!DOCTYPE html>
<html>
  <head>
    <title>Sairam's Website</title>
    <link href="landing_page.css" rel="stylesheet"/>
  </head>
  <body>
    <main>
      <section class="myphoto">
        <img src="https://res.cloudinary.com/ss-da/image/upload/v1711691136/Sairam-Subramaniam-150x150_dnu72a.jpg" alt="Sairam Subramaniam's Photo">
      </section>
      <section class="intro">
       <h3>Welcome to my website</h3>
       <p>My name is Sairam Subramaniam</p>
       <p>I am a data professional with more than 15 years of experience across Engineering, Analytics, Project & Product Management</p>
       <p>This website is a place to record and share my thoughts, learnings and sometimes a self reflection on professional or personal activities</p>
      </section>
      <section class="mainlink">
        <h2><a href="#"></a>BLOG</h2>
      </section>
      <section class="mainlink">
        <h2><a href="#"></a>PROJECTS</h2>
      </section>
    </main>
    <footer>
      <p><a href="https://www.linkedin.com/in/sairam-subramaniam-05672513/">Linkedin</a></p>
    </footer>
  </body>
</html>
